[Desktop Entry]
Version=1.0
Type=Application
Name=5Ghoul NR Fuzzer
Comment=5G NR modem vulnerability fuzzer targeting Qualcomm and MediaTek chipsets
Exec=gnome-terminal --title "5Ghoul Fuzzer" -- bash -c "bash -c 'sudo 5ghoul-run; read -rp \"Press Enter to close...\"'"
Icon=utilities-terminal
Terminal=false
Categories=TelcoSec-5GNR;
