[Desktop Entry]
Version=1.0
Type=Application
Name=5Ghoul NR Fuzzer
Comment=5G NR modem vulnerability fuzzer targeting Qualcomm and MediaTek chipsets
Exec=bash -c "xterm -fa 'Monospace' -fs 11 -T '5Ghoul Fuzzer' -e 'sudo 5ghoul-run; read -rp \"Press Enter to close...\"'"
Icon=utilities-terminal
Terminal=false
Categories=TelcoSec-5GNR;
