[Desktop Entry]
Version=1.0
Type=Application
Name=5Ghoul Setup (Build & Install)
Comment=Clone and compile the 5Ghoul 5G NR attack framework (requires USRP B210)
Exec=bash -c "xterm -fa 'Monospace' -fs 11 -T '5Ghoul Installer' -e 'sudo 5ghoul-install; echo; read -rp \"Press Enter to close...\"'"
Icon=utilities-terminal
Terminal=false
Categories=TelcoSec-5GNR;
