[Desktop Entry]
Type=Application
Name=ADB Shell
Comment=Android Debug Bridge shell
Exec=terminator -e "adb shell"
Icon=utilities-terminal
Categories=TelcoSec-Device;
Terminal=false
