[Desktop Entry]
Version=1.0
Type=Application
Name=FirmWire Baseband Emulator
Comment=Baseband Firmware Emulation and Fuzzing Platform
Exec=bash -c "source /opt/telcosec/firmwire/venv/bin/activate && python3 /opt/telcosec/firmwire/firmwire.py --help; read -p 'Press enter to exit...'"
Icon=system-run
Terminal=true
Categories=TelcoSec-Baseband;
