[Desktop Entry]
Type=Application
Name=Heimdall (Samsung)
Comment=Samsung device flash tool (Odin alternative)
Exec=terminator -e "heimdall --help"
Icon=phone
Categories=TelcoSec-Device;
Terminal=false
