[Desktop Entry]
Version=1.0
Type=Application
Name=Kalibrate RTL
Comment=Calculate RTL-SDR frequency offset against GSM base stations
Exec=bash -c "kal -h; echo ''; read -p 'Press Enter to exit...'"
Icon=utilities-terminal
Terminal=true
Categories=TelcoSec-SDR;
