[Desktop Entry]
Type=Application
Name=Kismet
Comment=Wireless network detector and packet sniffer
Exec=terminator -e "sudo kismet -c mon0"
Icon=network-wireless
Categories=TelcoSec-Network;
Terminal=false
