[Desktop Entry]
Type=Application
Name=LTESniffer
Comment=Open-source LTE downlink/uplink sniffer
Exec=terminator -e "ltesniffer --help"
Icon=network-wired
Categories=TelcoSec-LTE;
Terminal=false
