[Desktop Entry]
Type=Application
Name=MTKClient
Comment=MediaTek device tool (auth bypass, flashing, dump)
Exec=gnome-terminal -- bash -c "mtk --help"
Icon=phone
Categories=TelcoSec-Device;
Terminal=false
