[Desktop Entry]
Type=Application
Name=MTKClient
Comment=MediaTek device tool (auth bypass, flashing, dump)
Exec=terminator -e "mtk --help"
Icon=phone
Categories=TelcoSec-Device;
Terminal=false
