[Desktop Entry]
Type=Application
Name=OpenBTS Setup
Comment=Compile and install OpenBTS GSM BTS
Exec=terminator -e "sudo openbts-install"
Icon=network-wireless
Categories=TelcoSec-GSM;
Terminal=false
