[Desktop Entry]
Version=1.0
Type=Application
Name=Open5GS Start (5G SA Core)
Comment=Start all Open5GS 5G SA network functions (AMF, SMF, UPF, NRF, etc.)
Exec=gnome-terminal --title "Open5GS" -- bash -c "bash -c 'sudo open5gs-start; read -rp \"Press Enter to close...\"'"
Icon=utilities-terminal
Terminal=false
Categories=TelcoSec-5GNR;
