[Desktop Entry]
Type=Application
Name=OsmocomBB
Comment=Open source GSM baseband implementation
Exec=gnome-terminal -- bash -c "osmocon --help"
Icon=network-wireless
Categories=TelcoSec-GSM;
Terminal=false
