[Desktop Entry]
Version=1.0
Type=Application
Name=QCSuper Qualcomm Capturer
Comment=Passive Qualcomm DIAG port capture and dissector injector
Exec=bash -c "python3 /opt/telcosec/qcsuper/qcsuper.py --help; read -p 'Press enter to exit...'"
Icon=system-run
Terminal=true
Categories=TelcoSec-Baseband;
