[Desktop Entry]
Type=Application
Name=SCAT Decoder
Comment=Qualcomm/Samsung DIAG protocol log decoder
Exec=gnome-terminal -- bash -c "scat -t qc -d /dev/ttyUSB0"
Icon=utilities-terminal
Categories=TelcoSec-LTE;TelcoSec-Device;
Terminal=false
