[Desktop Entry]
Version=1.0
Type=Application
Name=SIMtrace 2 Sniffer
Comment=Sniff phone-to-SIM ISO 7816 smartcard transactions
Exec=bash -c "simtrace2-sniff --help; read -p 'Press enter to exit...'"
Icon=smartcard
Terminal=true
Categories=TelcoSec-SIM;
