[Desktop Entry]
Type=Application
Name=SIPp
Comment=SIP protocol performance tester and traffic generator
Exec=terminator -e "sipp -h"
Icon=utilities-terminal
Categories=TelcoSec-VoIP;
Terminal=false
