[Desktop Entry]
Type=Application
Name=srsUE
Comment=srsRAN LTE User Equipment simulator
Exec=terminator -e "srsue"
Icon=network-wired
Categories=TelcoSec-LTE;
Terminal=false
