[Desktop Entry]
Type=Application
Name=tcpdump
Comment=Command-line packet analyzer
Exec=terminator -e "sudo tcpdump -i mon0 -v"
Icon=utilities-terminal
Categories=TelcoSec-Network;
Terminal=false
