[Desktop Entry]
Type=Application
Name=YateBTS (BladeRF A4)
Comment=YateBTS GSM/UMTS BTS — compile and launch for BladeRF
Exec=terminator -e "sudo yatebts-install"
Icon=network-wireless
Categories=TelcoSec-GSM;
Terminal=false
